In [8]:
import pandas as pd

df = pd.read_csv('Transfers_data.csv')

print(df.head())

   clients_id country_ISO  country_phonecode country_country booking_date  \
0       79223         GBR                 44  United-Kingdom   2015-08-15
1       92805         GBR                 44  United-Kingdom   2017-03-28
2       49169         IRL                353         Ireland   2015-10-26
3       19656         BEL                 32         Belgium   2013-09-06
4      146098         GBR                 44  United-Kingdom   2017-05-18

  booking_hour  bookings_id book_transfers_whichway book_transfers_flight_nr  \
0     11:40:11       138189                 arrival                    ZB580
1     10:14:56       264951               departure                  EZY7364
2     11:19:43       154333                 arrival                   FR7032
3     08:51:58        37152               departure                   FR6313
4     20:09:44       277244                 arrival                  EZY7193

  book_transfers_flight_day      ...       feedback_clean_in  \
0                2015-08-25      ...                       5
1                2017-05-27      ...                       5
2                2015-10-27      ...                       5
3                2013-09-14      ...                       5
4                2017-05-29      ...                       5

   feedback_clean_out  feedback_punctual_departure  feedback_curteous_arrival  \
0                   5                            5                          5
1                   5                            5                          2
2                   5                            5                          5
3                   5                            5                          5
4                   5                            5                          5

   feedback_curteous_departure  feedback_website travel_km travel_time  \
0                            5                 5        39          45
1                            5                 5        39          45
2                            5                 5        75          60
3                            3                 5        39          45
4                            5                 5        39          45

   pickup_place  dropoff_place
0  FARO-AIRPORT      ALBUFEIRA
1     ALBUFEIRA   FARO-AIRPORT
2  FARO-AIRPORT          ALVOR
3     ALBUFEIRA   FARO-AIRPORT
4  FARO-AIRPORT      ALBUFEIRA

[5 rows x 38 columns]

In [12]:
""" Pergunta b) (i)"""

print(df.shape[0])

print(len(df.index))

50000
50000

In [15]:
""" Pergunta b) (ii) """

df['booking_datetime'] = pd.to_datetime(df['booking_date'])

print(df['booking_datetime'].groupby(df['booking_datetime'].dt.year).agg({'count'}))

#print(list(df['booking_date'].groupby(df['booking_datetime'].dt.year))[0][1])

                  count
booking_datetime
2012               2451
2013               5369
2014               6774
2015               9692
2016              13231
2017              12483

In [16]:
""" Pergunta b) (iii) """

print(df['booking_datetime'].groupby(df['booking_datetime'].dt.month).agg({'count'}))

                  count
booking_datetime
1                  2227
2                  2342
3                  3773
4                  5248
5                  6664
6                  6647
7                  7052
8                  6557
9                  4944
10                 2604
11                  997
12                  945

In [17]:
""" Pergunta b) (iv) """

print(df['clients_id'].groupby(df['clients_id']).agg({'count'}))

            count
clients_id
58              1
61              5
62              6
70             16
71              7
78              7
81             13
91              2
95              6
99              4
107             2
115             8
116             3
117             1
119             7
122             2
129             2
134             4
135             1
136             5
137             2
138             1
139             4
140             3
142             7
143             4
144             2
145             1
146             1
148             4
...           ...
162872          1
162881          2
162889          1
162902          2
162905          1
162914          1
162923          1
162926          2
162946          1
162952          1
162972          1
162981          1
162983          1
162987          1
163002          1
163005          2
163009          1
163016          1
163031          2
163038          1
163045          2
163106          1
163154          1
163161          1
163175          2
163178          1
163192          1
163220          1
163302          1
163412          1

[28487 rows x 1 columns]

In [18]:
""" Pergunta b) (v) """

print(df['country_country'].groupby(df['country_country']).agg({'count'}))

                              count
country_country
Australia                        36
Austria                          26
Belgium                         179
Bulgaria                          1
China-(People's-Rep.)             3
Cyprus                            1
Czech-Republic                    6
Denmark                          62
Estonia                          10
Finland                          43
France                          152
Germany                         271
Hong-Kong-                        4
Hungary                          11
Iceland                           4
Ireland                       12874
Israel                            1
Italy                            17
Japan                             2
Latvia                            4
Lebanon                           1
Lithuania                         5
Luxembourg                       35
Mexico-                           1
Netherlands                     435
New-Zealand                       8
North-America-(USA-&-Canada)    238
Norway                          100
Peru                              1
Poland                           24
Portugal                        606
Rep.-of-Macedonia-                2
Romania                          11
Russia                           13
Serbia-                           1
Singapore                         2
Slovenia                          1
South-Africa                      2
Spain                            22
Sweden                          100
Switzerland                      67
Thailand                          3
Turkey                            1
United-Arab-Emirates              5
United-Kingdom                34507
Unknown                         102

In [19]:
""" Pergunta b) (vi) """

print(len(df)/len(df['clients_id'].groupby(df['clients_id'])))

1.7551865763330643

In [22]:
""" Pergunta b) (vii) """
# TODO: Pergunta adicional: gráfico de distribuição da quantidade de serviços por país
# print(df['country_country'].groupby(df['country_country']).agg({'count'})/len(df))

print(df.groupby(['clients_id', 'country_country'])['country_country'].size())

# print(df.groupby(['clients_id', 'country_country']).size().groupby('country_country').head())
# print(df.groupby('country_country')['clients_id', 'country_country'].count())

clients_id  country_country
58          United-Kingdom                   1
61          United-Kingdom                   5
62          United-Kingdom                   6
70          United-Kingdom                  16
71          Ireland                          7
78          United-Kingdom                   7
81          United-Kingdom                  13
91          United-Kingdom                   2
95          United-Kingdom                   6
99          United-Kingdom                   4
107         United-Kingdom                   2
115         United-Kingdom                   8
116         United-Kingdom                   3
117         United-Kingdom                   1
119         United-Kingdom                   7
122         United-Kingdom                   2
129         United-Kingdom                   2
134         United-Kingdom                   4
135         United-Kingdom                   1
136         Ireland                          5
137         United-Kingdom                   2
138         United-Kingdom                   1
139         Ireland                          4
140         United-Kingdom                   3
142         United-Kingdom                   7
143         United-Kingdom                   4
144         United-Kingdom                   2
145         United-Kingdom                   1
146         United-Kingdom                   1
148         United-Kingdom                   4
                                            ..
162872      United-Kingdom                   1
162881      United-Kingdom                   2
162889      Ireland                          1
162902      United-Kingdom                   2
162905      United-Kingdom                   1
162914      Ireland                          1
162923      United-Kingdom                   1
162926      United-Kingdom                   2
162946      Switzerland                      1
162952      United-Kingdom                   1
162972      United-Kingdom                   1
162981      Germany                          1
162983      Ireland                          1
162987      United-Kingdom                   1
163002      Ireland                          1
163005      Belgium                          2
163009      United-Kingdom                   1
163016      Ireland                          1
163031      United-Kingdom                   2
163038      Netherlands                      1
163045      Ireland                          2
163106      United-Kingdom                   1
163154      United-Kingdom                   1
163161      North-America-(USA-&-Canada)     1
163175      United-Kingdom                   2
163178      United-Kingdom                   1
163192      Finland                          1
163220      Ireland                          1
163302      United-Kingdom                   1
163412      United-Kingdom                   1
dtype: int64

In [23]:
""" Pergunta b) (viii) """

# TODO: Limpar os -1 e 0s
# df['book_transfers_total'] = df['book_transfers_adults'] + df['book_transfers_children'] + df['book_transfers_babies']
# print(df['book_transfers_total'].groupby(df['book_transfers_total']).agg({'count'})/len(df))

' Pergunta b) (viii) '